.z-index-0 {
    z-index: 0;
}

.page-header-container {
    position: relative;
    text-align: center;
    color: #fff;
}

.db {
    display: block;
}

.profile-container {
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 3px 3px 6px #263238;
}

.stars-one {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    width: 100%;
    height: 24rem;
    
    background: transparent url("../css/img/stars.png") repeat top center;
   
    animation: move-stars 10s linear infinite;
    -ms-animation: move-stars 10s linear infinite;
    -moz-animation: move-stars 10s linear infinite;
    -webkit-animation: move-stars 10s linear infinite;
}

.stars-two {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    width: 100%;
    height: 24rem;
    
    background: transparent url("../css/img/stars.png") repeat right bottom;
   
    animation: move-stars-two 10s linear infinite;
    -ms-animation: move-stars-two 10s linear infinite;
    -moz-animation: move-stars-two 10s linear infinite;
    -webkit-animation: move-stars-two 10s linear infinite;
}



.margin-left-1half-em {
    margin-left: 0.5em;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.clearfix {
    clear: both;
}


/*Animate stars group one*/

@keyframes move-stars {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes move-stars {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes move-stars {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes move-stars {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*Animate stars group two and three*/

@keyframes move-stars-two {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes move-stars-two {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes move-stars-two {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes move-stars-two {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Page Header Overrides */
.page-header-bg {
    background-image: linear-gradient(120deg, #106ece, #2f3d4c);
    position: absolute;
    z-index: -20;
    top: 0;
    left: 0;
    width: 100%;
    height: 24rem;
}

.page-header-content{
    width: 100%;
    height: 24rem;
    top: 0;
    left:0;
}

.about-me .content {
    width: 60%;
}

@media screen and (max-width: 42em){
    .page-header-bg, .page-header-content {
        padding: 2rem 1rem;
    }
    
    .profile-container  img{
        height: 150px;
        width: auto;
    }
}

@media screen and (max-width: 64em) and (min-width: 42em){
    .page-header-bg, .page-header-content  {
        padding: 3rem 4rem;
    }
    
    .profile-container  img{
        height: 200px;
        width: auto;
    }
}

@media screen and (min-width: 64em){
    .page-header-bg, .page-header-content  {
        padding: 5rem 6rem;
    }
}